public
resources
.hugo_build.lock

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Hugo
exampleSite/assets/vendor
exampleSite/static/vendor
exampleSite/static/components
exampleSite/static/scss/fonts/bootstrap-icons.woff*