public
resources
.hugo_build.lock

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Hugo

# aos.js
# aos.css
# bootstrap.bundle.min.js
# swiper-bundle.min.js
# swiper-bundle.min.css
# bootstrap-icons.woff
# bootstrap-icons.woff2