// First, make sure you've overridden Bootstrap's core palette variables:
$blue:    #4dc7f0 !default;  // Light Blue
$indigo:  #4f2c8b !default;  // Indigo
$purple:  #611a91 !default;  // Xebia Purple
$pink:    #f13174 !default;  // Xebia Pink
$red:     #cf1259 !default;  // Deep Red
$orange:  #fa8101 !default;  // Orange
$yellow:  #f6cf01 !default;  // Gold
$green:   #00b77e !default;  // Green
$teal:    #00c69b !default;  // Teal
$cyan:    #aef2f9 !default;  // Light Cyan

// Optionally override Bootstrap’s grays to match your brand’s style
// (If you do, define them here so the theme-color-variables can use them.)
//
$gray-100: #f8f9fa !default;  // Very light gray
$gray-600: #6c757d !default;  // Medium gray
$gray-900: #212529 !default;  // Very dark gray

// scss-docs-start theme-color-variables
$primary:       $purple !default;    // Primary: Xebia Purple
$secondary:     $pink !default;      // Secondary: Xebia Pink
$success:       $green !default;     // Success: Green
$info:          $teal !default;      // Info: Teal
$warning:       $yellow !default;    // Warning: Gold/Yellow
$danger:        $red !default;       // Danger: Deep Red
$light:         $gray-100 !default;  // Light shade
$dark:          $gray-900 !default;  // Dark shade
// scss-docs-end theme-color-variables

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";

:root {
    --accent-color: #{$primary}; 
    --contrast-color: #{$light}; 
    --swiper-navigation-color: #{$primary};
    --swiper-theme-color: #{$primary};
    --default-color: #{$primary};
}
.center-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@import "scrolltop";
@import "preloader";
@import "resume.scss";
@import "header.scss";
@import "footer.scss";



@for $k from 1 through 6 {
    $i: $k * 5;
    .swiper-slide-#{$i} {
      padding-left: $i * 1%;
      padding-right: $i * 1%;
    }
}