@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

// ✅ 1. Set a default primary color for SCSS compilation
:root {
    --accent-color: #{$primary}; 
    --contrast-color: #{$light}; 
}

// ✅ 2. Import Bootstrap AFTER setting SCSS colors
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";

.center-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@import "scrolltop";
@import "preloader";
// @import "timeline";
@import "resume.scss";
@import "header.scss";
@import "footer.scss";



.swiper-slide-test{
    padding-left: 20%;
    padding-right: 20%;
}