<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }} data-bs-theme={{ .Site.Params.theme }}">
    <head>
        {{ partial "head" . }}
    </head>
    <body >
        <header class="header">
            {{ partial "header" . }}
        </header>
        <main class="main">
            {{ block "main" . }}{{ end }}
        </main>
        <footer class="footer">
            {{ partial "footer" . }}
        </footer>
        <!-- Scroll Top -->
        <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        <!-- Preloader -->
        <div id="preloader"></div>
        {{ partial "js" . }}
    </body>
</html>
