{{ define "main" }}

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
      <div class="row">
        <div class="col-md-9">
          <article class="card md-4">
            <h1>Article 1</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maxime, illo eveniet asperiores perspiciatis voluptate exercitationem, recusandae tempora ullam optio ab quibusdam autem. Necessitatibus obcaecati rerum quo beatae, fuga modi.
          </article>
          <article class="card md-4">
            <h1>Article 2</h1>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque expedita error, sit maiores necessitatibus commodi possimus temporibus assumenda omnis eaque officia inventore eos adipisci, velit porro est eligendi ex sed.
          </article>
          <article class="card md-4">
            <h1>Article 3</h1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae atque, quia enim quo delectus minima fugit possimus voluptates nam dignissimos reprehenderit accusantium porro magni voluptatum pariatur aliquid eos ipsum nisi!
          </article>
          <article class="card md-4">
            <h1>Article 4</h1>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta rerum commodi iste. Quo perferendis, aspernatur suscipit quam pariatur veritatis quisquam autem voluptas, repellat culpa quae! Minima repellendus impedit consequuntur deleniti.
          </article>
          <article class="card md-4">
            <h1>Article 4</h1>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta rerum commodi iste. Quo perferendis, aspernatur suscipit quam pariatur veritatis quisquam autem voluptas, repellat culpa quae! Minima repellendus impedit consequuntur deleniti.
          </article>
          <article class="card md-4">
            <h1>Article 4</h1>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta rerum commodi iste. Quo perferendis, aspernatur suscipit quam pariatur veritatis quisquam autem voluptas, repellat culpa quae! Minima repellendus impedit consequuntur deleniti.
          </article>
          <article class="card md-4">
            <h1>Article 4</h1>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta rerum commodi iste. Quo perferendis, aspernatur suscipit quam pariatur veritatis quisquam autem voluptas, repellat culpa quae! Minima repellendus impedit consequuntur deleniti.
          </article>
          <article class="card md-4">
            <h1>Article 4</h1>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta rerum commodi iste. Quo perferendis, aspernatur suscipit quam pariatur veritatis quisquam autem voluptas, repellat culpa quae! Minima repellendus impedit consequuntur deleniti.
          </article>
          <article class="card md-4">
            <h1>Article 4</h1>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta rerum commodi iste. Quo perferendis, aspernatur suscipit quam pariatur veritatis quisquam autem voluptas, repellat culpa quae! Minima repellendus impedit consequuntur deleniti.
          </article>
        </div>
        <div class="col-md-3">
          <aside class="card">
            <h2>Sidebar 1</h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos a ducimus iure minus nobis cum iusto repudiandae nisi assumenda voluptate autem aliquam, sed enim dolorem tempore dolorum cumque veritatis recusandae.
          </aside>
          <aside class="card">
            <h2>Sidebar 2</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ullam vitae eum atque beatae! Minima, dolorem excepturi voluptate eveniet, doloremque quia cumque error consequuntur, fugit sed unde aliquam! Aut, totam.
          </aside>
        </div>
      </div>
    </div>
{{ end }}
