{{- $context := .Context -}}
{{- $limit := default 5 .Params.limit -}}
{{- $archivesPage := site.GetPage "archives" -}}
{{- if $archivesPage -}}
        {{ $pages := where site.RegularPages "Section" "posts" }}
        {{ $archives := $pages.GroupByDate "2006" }}
        <div class="accordion" id="archives">
            <div class="accordion-item rounded-top">
                <h2 class="accordion-header" id="test">
                <button class="accordion-button rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetest" aria-expanded="true" aria-controls="collapsetest">
                    Archives
                </button>
                </h2>
                <div id="collapsetest" class="accordion-collapse collapse" aria-labelledby="test" data-bs-parent="#archives">
                    <div class="accordion-body p-3">
                        {{ range $index, $item := first $limit ($archives) }}
                            {{ $KeyYear := .Key}}
                            <p class="mb-0"><a href="{{ $archivesPage.Permalink }}/#{{ $KeyYear }}">{{ $KeyYear }}</a>({{ len $item.Pages }})</p>
                            {{ $pgs := $item.Pages.GroupByDate "January" }}
                            {{ range $idx, $it := $pgs }}
                                <p class="ms-2 mb-0"><a href="{{ $archivesPage.Permalink }}/#{{ $KeyYear }}{{ .Key }}">{{ .Key }}</a>({{ len $it.Pages }})</p>
                                {{ range $inx, $itm := ($it.Pages) }}
                                    <p class="ms-3 mb-0"><a href="{{ $itm.RelPermalink }}">{{ $itm.Title }}</a></p>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>        
        </div>
{{- else -}}
    {{- warnf "Archives page not found. Create a page with layout: archives." -}}
{{- end -}}