<!-- Store available themes in JavaScript -->
<script>
    var availableThemes = JSON.parse({{ .Site.Params.themes | jsonify }});
</script>
<!-- Bootstrap JS (Optional, for components like modals, tooltips, etc.) -->
{{ $bootstrap := resources.Get "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | minify | fingerprint }}
<script src="{{ $bootstrap.RelPermalink }}" integrity="{{ $bootstrap.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ "js/theme-switcher.js" | relURL }}"></script>
{{ $bootstrap := resources.Get "assets/vendor/aos/js/aos.js" | minify | fingerprint }}{{ $bootstrap := resources.Get "assets/vendor/aos/js/aos.js" | minify | fingerprint }}
<!-- Initialize AOS after loading -->
<script>
  function aosInit() {
    AOS.init({
      duration: 600,
      easing: 'ease-in-out',
      once: true,
      mirror: false
    });
  }
  window.addEventListener('DOMContentLoaded', aosInit);
</script>

{{ $bootstrap := resources.Get "assets/vendor/swiper/js/swiper-bundle.min.js.js" | minify | fingerprint }}