<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ "/" | relURL }}">{{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/" | relURL }}">Home</a>
                </li>
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
                <button id="themeToggle" class="btn btn-outline-light">🌙 Toggle Theme</button>
            </ul>
        </div>
    </div>
</nav>
