<nav class="navbar navbar-expand-lg fixed-top bg-primary navbar-transparent" data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ .Site.Title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              {{ if site.Menus.main }}
                  {{ range sort site.Menus.main "Weight" }}
                      {{ $isActive := or ($.IsMenuCurrent "main" .) (eq .URL $.RelPermalink) }}
                      {{ if .HasChildren }}
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle {{ if $isActive }}active{{ end }}" 
                                 href="{{ .URL }}" 
                                 data-bs-toggle="dropdown">
                                  {{ .Name }}
                              </a>
                              <ul class="dropdown-menu">
                                  {{ range sort .Children "Weight" }}
                                      {{ $isSubActive := or ($.IsMenuCurrent "main" .) (eq .URL $.RelPermalink) }}
                                      <li>
                                          <a class="dropdown-item {{ if $isSubActive }}active{{ end }}" 
                                             href="{{ .URL }}">
                                              {{ .Name }}
                                          </a>
                                      </li>
                                  {{ end }}
                              </ul>
                          </li>
                      {{ else }}
                          <li class="nav-item">
                              <a class="nav-link {{ if $isActive }}active{{ end }}" 
                                 href="{{ .URL }}">
                                  {{ .Name }}
                              </a>
                          </li>
                      {{ end }}
                  {{ end }}
              {{ end }}

              {{ if eq .Site.Params.environment "development" }}
                  <button id="themeToggle" class="btn btn-primary">🌙 Toggle Theme</button>
              {{ end }}

          </ul>
      </div>
      {{ partial "socials.html" . }}
  </div>
</nav>
