<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{{ "/" | relURL }}">{{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{{ "/" | relURL }}">Home</a>
                </li> -->
                {{ range sort site.Menus.main "Weight"}}
                    {{ if .HasChildren }}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ .URL }}" data-bs-toggle="dropdown">{{ .Name }}</a>
                        <ul class="dropdown-menu">
                        {{ range sort .Children "Weight"}}
                            <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                        </ul>
                    </li>
                    {{ else }}
                    <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                {{ end }}
                <button id="themeToggle" class="btn btn-primary">🌙 Toggle Theme</button>
            </ul>
        </div>
    </div>
</nav>
